<div class="slideshow-onclick">


  <div class="mySlides fade">
    <div class="numbertext">1 / 5</div>
    <img src="assets/images/1.png" style="width:100%">
    <div class="text">Party Panther</div>
  </div>


  <div class="mySlides fade">
    <div class="numbertext">2 / 5</div>
    <img src="assets/images/2.png" style="width:100%">
    <div class="text">Blue Tiger</div>
  </div>


  <div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="assets/images/3.png" style="width:100%">
    <div class="text">Mellow Tiger</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
    <img src="assets/images/4.png" style="width:100%">
    <div class="text">Cosmic Cheetah</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">5 / 5</div>
    <img src="assets/images/5.png" style="width:100%">
    <div class="text">Happy Cheetah</div>
  </div>


  <!-- Next and previous buttons -->


  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
  <span class="dot" (click)="currentSlide(4)"></span>
  <span class="dot" (click)="currentSlide(5)"></span>

</div>



