mat-card{
  min-width: 50%;
  max-width: 300px;
  margin: auto;
  display: block;
}

mat-form-field, textarea{
  width: 100%;
  display: inline-block;
}

mat-option img{
  width: 30px;
  padding-right: 5px;}

mat-radio-button{
  padding-left: 20px;
  padding-top: 20px;
}
